@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Thin.woff) format("woff"), 
  url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Light.woff) format("woff"), 
  url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Regular.woff) format("woff"), 
  url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Medium.woff) format("woff"), 
  url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Bold.woff) format("woff"), 
  url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Black.woff) format("woff"), 
  url(../fonts/NotoSansKR-Black.otf) format("opentype");
}



@font-face {
  font-family: "Korail Rounded";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Korail_Round_Gothic_Light.woff) format("woff"), 
  url(../fonts/Korail_Round_Gothic_Light.otf) format("opentype");
}

@font-face {
  font-family: "Korail Rounded";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Korail_Round_Gothic_Medium.woff) format("woff"), 
  url(../fonts/Korail_Round_Gothic_Medium.otf) format("opentype");
}

@font-face {
  font-family: "Korail Rounded";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Korail_Round_Gothic_Bold.woff) format("woff"), 
  url(../fonts/Korail_Round_Gothic_Bold.otf) format("opentype");
}




@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: url(../fonts/SUIT-Thin.woff2) format('woff2'),
  url(../fonts/SUIT-Thin.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: url(../fonts/SUIT-ExtraLight.woff2) format('woff2'),
  url(../fonts/SUIT-ExtraLight.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: url(../fonts/SUIT-Light.woff2) format('woff2'),
  url(../fonts/SUIT-Light.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: url(../fonts/SUIT-Regular.woff2) format('woff2'),
  url(../fonts/SUIT-Regular.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: url(../fonts/SUIT-Medium.woff2) format('woff2'),
  url(../fonts/SUIT-Medium.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: url(../fonts/SUIT-SemiBold.woff2) format('woff2'),
  url(../fonts/SUIT-SemiBold.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: url(../fonts/SUIT-Bold.woff2) format('woff2'),
  url(../fonts/SUIT-Bold.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: url(../fonts/SUIT-ExtraBold.woff2) format('woff2'),
  url(../fonts/SUIT-ExtraBold.otf) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: url(../fonts/SUIT-Heavy.woff2) format('woff2'),
  url(../fonts/SUIT-Heavy.otf) format('woff2');
}







:root {
  /** Color **/
  --fontColor: #222222;

  --Status-InfoLink: #3855E8;
  --Status-Success: #3BB000;
  --Status-Warning: #FFD028;
  --Status-Error: #F71010;


  /** Font Style **/
  /* Size */
  --f40: 40px;
  --f32: 32px;
  --f24: 24px;
  --f20: 20px;
  --f18: 18px;
  --f16: 16px;
  --f14: 14px;
  --f12: 12px;
  --f11: 11px;

}

/* reset */
* {font-family:'Noto Sans KR'; padding:0; margin:0;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none;}
th img, td img, input, label {vertical-align:middle}
img {image-rendering: -webkit-optimize-contrast;transform: translateZ(0);backface-visibility: hidden;}
dl,ul,ol,menu {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
table {width:100%;border-collapse:collapse;border-spacing:0;}
input,select,textarea,button {vertical-align:middle;font-size:100%}
button {border:0 none;background-color:transparent;cursor:pointer}
body{-webkit-text-size-adjust:none; padding:0; margin: 0 !important;}
input[type="text"],input[type="password"],input[type="submit"], textarea {-webkit-appearance:none;-webkit-border-radius:0;}
input:checked[type="checkbox"] {-webkit-appearance:checkbox;}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"] {-webkit-appearance:button;-webkit-border-radius:0}
body,th,td,input,select,textarea,button {color:#000}
a {color:#000;text-decoration:none;cursor:pointer}
a:active, a:hover {text-decoration:none}
address,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption,legend {overflow:hidden;width:1px;height:1px;margin:-1px 0 0 -1px;font-size:1px;line-height:0;position: absolute;clip: rect(0, 0, 0, 0) !important;}
.blind {clip:rect(0,0,0,0); overflow:hidden; display:block; width:1px; height:1px;margin:-1px;padding:0;border:0; font-size:1px; line-height:0; text-indent:-9999px}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}

input[type="text"], input[type="password"],
select {border: 1px solid #e5e7eb;font-size: 14px;height: 40px;padding: 0 20px 0 5px;border-radius: 5px;outline:none;box-sizing: border-box;}
textarea {border: 1px solid #e5e7eb;font-size: 14px; padding:10px 10px; border-radius: 5px; width:100%; min-height:200px; box-sizing:border-box; outline:none; resize: none;}

.txt-l {text-align:left !important;}
.txt-c {text-align:center !important;}
.txt-r {text-align:right !important;}

.wd100 {width:100% !important;}
.wd40 {width:40% !important;}
.wd50 {width:50% !important;}
.wd60 {width:60% !important;}

.red {color:#e11d48 !important;}


.hide {font-size: 0;}




[class *="status-"] {font-size: 12px;padding: 3px 8px;border-radius: 4px;word-break: keep-all;}
.status-ing    {background:#fef9c3; color:#aa6207;}
.status-new    {background:#fee2e2; color:#b91c1c;}
.status-red    {background: #fff;color: #d32a1b;border: 1px solid #f3b5b5;letter-spacing: -0.5px;}
.status-fin    {background:#f1f5f9; color:#475569;}
.status-blue   {background:#dbeafe; color:#3b4ed8;}

[class *="tooltip-"] {font-size: 13px;color: #919191;display: inline-block;padding-left: 19px;box-sizing: border-box;position: relative;word-break: keep-all;}
[class *="tooltip-"]:before {content:"!";width: 13px;height: 13px;display: inline-block;text-align: center;line-height: 11px;color: #fff;border-radius: 100%;font-size: 10px;vertical-align: middle;margin: -2px 0 0 0;position: absolute;left: 0;top: 5px;}
.tooltip-red {}
.tooltip-red:before {background: #e52239;}
.tooltip-blue {}
.tooltip-blue:before {background: #726cee;}
.tooltip-grey {}
.tooltip-grey:before {background: #ddd;}


/* paging */
ul.num {gap: 8px;display: flex;justify-content: center;padding: 30px 0;position: relative;} 
ul.num li.num a {border: none;background: transparent;color: #999;width: 25px;height: 36px;line-height: 35px;font-size: 15px;text-align: center;font-weight: 400;transition: all 0.2s;display: inline-block;position: relative;} 
ul.num li.num a.on { color: #000; font-weight: 800; } 
ul.num li.num a.on::after {content: '';position: absolute;bottom: 2px;left: 50%;transform: translateX(-50%);width: 12px;height: 3px;background: #4f46e5;border-radius: 2px;} 
ul.num li.prev a, 
ul.num li.next a {display: inline-block;border: 1px solid #e5e5e5;border-radius: 50% !important;background: #fff;width: 38px;height: 38px;min-width: 38px;transition: all 0.2s;text-indent: -999px;overflow: hidden;position: relative;} 
ul.num li.prev a::before,
ul.num li.prev a::after,
ul.num li.next a::before,
ul.num li.next a::after { content: ''; display: block; width: 7px; height: 7px; border-top: 2px solid #aaa; border-right: 2px solid #aaa; border-top-right-radius: 2px; position: absolute; top: 50%; margin-top: -4.5px; transition: border-color 0.2s; } 
ul.num li.prev:not(.first) a::before { left: 54%; transform: translate(-50%, 0) rotate(-135deg); } 
ul.num li.prev:not(.first) a::after { display: none; } 
ul.num li.next:not(.last) a::before { left: 46%; transform: translate(-50%, 0) rotate(45deg); } 
ul.num li.next:not(.last) a::after { display: none; } 
ul.num li.first a::before { left: 12px; transform: rotate(-135deg); } 
ul.num li.first a::after { left: 19px; transform: rotate(-135deg); } 
ul.num li.last a::before { left: 9px; transform: rotate(45deg); } 
ul.num li.last a::after { left: 16px; transform: rotate(45deg); } 
ul.num li.prev a:hover, 
ul.num li.next a:hover {border-color: #4f46e5;} 
ul.num li.prev a:hover::before,
ul.num li.prev a:hover::after,
ul.num li.next a:hover::before,
ul.num li.next a:hover::after {border-color: #4f46e5;} 
ul.num li.num a:not(.on):hover { color: #000; text-decoration: none; } 
ul.num li.num a:not(.on)::before {content: '';position: absolute;top: 0;left: 50%;transform: translateX(-50%) translateY(-5px);width: 4px;height: 4px;background: #4f46e5;border-radius: 50%;opacity: 0;transition: all 0.3s ease;} 
ul.num li.num a:not(.on):hover::before { opacity: 1; transform: translateX(-50%) translateY(2px); } 


.necessary {position: relative; height: 5px; display: inline-block; cursor: pointer;}
.necessary:before {content:"";width: 4px;height: 4px;display: inline-block;background: #e82d2d;border-radius: 100%;vertical-align: middle;margin-top: -13px;margin-left: 3px;}
.necessary>div {background: #e82d2d; color: #fff; font-size: 10px; position: absolute; left: 16px; top: -2px; width: 30px; padding: 2px 0; border-radius: 4px; text-align: center; display: none;}
.necessary:hover>div {display:block;}
.necessary>div:before {content:"";display: inline-block;border-right: 4px solid #e82d2d;border-top: 3px solid transparent;border-bottom: 3px solid transparent;position: absolute;left: -4px;top: 5px;}





@keyframes slideUp {
    from  {opacity: 0; transform: translateY(50px);}
    to    {opacity: 1; transform: translateY(0); }
}